<a href="https://colab.research.google.com/github/ashwinchelsea14/pythonlib/blob/main/pythonlib.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print ("chelsea")

chelsea

In [3]:
import numpy as np
import pandas as pd

In [20]:
from io import StringIO,BytesIO

In [65]:
data=('c1,c2,c3\n'
     'a,b,c\n'
      '1,2,3\n'
      'as,df,fe')

In [66]:
pd.read_csv(StringIO(data))

   c1  c2  c3
0   a   b   c
1   1   2   3
2  as  df  fe

In [67]:
df=pd.read_csv(StringIO(data),usecols=['c2','c3'])
df

   c2  c3
0   b   c
1   2   3
2  df  fe

In [25]:
df.to_csv('a.csv')

In [27]:
df.head()

   c2  c3
0   b   c
1   2   3
2  df  fe

In [33]:
##datatype
data1=('c1,c2,c3\n'
     '1,2,3\n'
      '4,5,6')
df=pd.read_csv(StringIO(data1),dtype=object)

In [34]:
df['c1'][1]##'4' is a string here

'4'

In [38]:
df=pd.read_csv(StringIO(data1),dtype=int)
df['c1'][1]   ##'4' is int dtype

4

In [39]:
df=pd.read_csv(StringIO(data1),dtype=float)
df

    c1   c2   c3
0  1.0  2.0  3.0
1  4.0  5.0  6.0

In [41]:
df=pd.read_csv(StringIO(data1),dtype={'c1':int,'c2':float})
df

   c1   c2  c3
0   1  2.0   3
1   4  5.0   6

In [47]:
data=('index,a,b,c\n'
      '1,asd,4,jkl\n'
      '2,qwe,3.5,uio')
df=pd.read_csv(StringIO(data))
df                                 ##by degault o,1 is the index

   index    a    b    c
0      1  asd  4.0  jkl
1      2  qwe  3.5  uio

In [52]:
##usage of index_col
df=pd.read_csv(StringIO(data),index_col=0)
df                                    ##now 1,2 became the index

         a    b    c
index
1      asd  4.0  jkl
2      qwe  3.5  uio

In [60]:
data=('a,b,c\n'
     '2,s,d,\n'
     '4,f,g,')
df=pd.read_csv(StringIO(data))
df

   a  b   c
2  s  d NaN
4  f  g NaN

In [63]:
df=pd.read_csv(StringIO(data),index_col=False)
df                                ##if NaN comes unwantedly,use index_col=false

   a  b  c
0  2  s  d
1  4  f  g